<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cse.kuet.rksazid.codenplay">

    <application
        android:allowBackup="true"
        android:icon="@drawable/codenplay_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LevelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Level1"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>